body {
    background-image: url("../images/Background.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header {
    background-color: white;
    height: 70px;
    border-bottom: 2px solid black;
    position: relative;
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

header h1 {
    background-color: #4aaaa5;
    float: left;
    line-height: 70px; 
    color: white;
    font-weight: bolder;
    padding: 0 2vw;
    font-size: 30px;
}

header div {
    margin: 0 25%;
}

.main-box {
    margin: 0 25%;
    background: white;
    border: 1px solid #dddddd;
    margin-top: 3vh;
}

ul {
    padding-top: 25px;
    float: right;
    font-size: 20px;
}

ul li {
    float: left;
    padding: 0 10px;
}

#border{
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

#profile {
    width:15vw;
}

#firstP {
    
}

footer {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #666666;
    bottom: 0;
    border-top: 8px solid teal;
    
}

footer h6 {
    text-align: center;
    color: white;
    padding-top: 30px;
    
}

img {
    width: 50px;
}

a {
    color: #cccccc;
    text-decoration: none;
}